$primary: #fff;
$secondary: #000;
$info: #d9d9d9;

// @use './reset';
// @tailwind base;
// @import 'primevue/resources/themes/saga-blue/theme.css'; // Example theme
// @tailwind components;
// @tailwind utilities;
$navbar-height: 3.5rem;
.translate-50p {
  transform: translate(-50%, -50%);
}

#app {
  background-color: $primary;
}

body {
  height: 100vh;
  main {
    height: calc(100vh - $navbar-height);
  }
}

.my-fade-in {
  opacity: 0;
  animation: 2.5s fadeIn forwards;
}

.my-fade-out {
  opacity: 0;
  animation: 2s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
* {
  color: #000;
}
