$primary: #fff;
$secondary: #000;
$info: #d9d9d9;

@use './reset';
// @tailwind base;
// @import 'primevue/resources/themes/saga-blue/theme.css'; // Example theme
// @tailwind components;
// @tailwind utilities;

* {
  color: #000;
}

.translate-50p {
  transform: translate(-50%, -50%);
}

#app {
  background-color: $primary;
}

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
